{{!-- <h3><i class="fas fa-book-reader"></i>Student Login</h3>
<div class="section">
    <p class="lead">Lorem ipsum dolor sit amet.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn btn-danger darken-1">
        <i class="fab fa-google left" style="padding-right: 12px;"></i>Log In With Google
    </a>
</div> --}}
<div class="d-flex justify-content-center">
	<div class="brand_logo_container">
		<img src="../public/images/logo.jpg" class="brand_logo" alt="Logo">
	</div>
</div>
<div class="d-flex justify-content-center form_container">
	<form>
		<div class="input-group1">
			<h4>Student Assistance Portal</h4>
		</div>
		<div class="input-group">
			<h3><i class="fas fa-users fa-2x "></i></h3>
		</div>
		<div class="d-flex justify-content-center mt-3 login_container">
			<a href="/auth/google" class="btn login_btn">
				<i class="fab fa-google left" style="padding-right: 12px;"></i>Join With Google
			</a>
		</div>
	</form>
</div>