
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        /*background: #60a3bc !important;*/
        background-image: url("../images/background2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;

    }
    .user_card {
        height: 300px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: rgba(237, 244, 245, 0.856);
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

    }
    .brand_logo_container {
        position: absolute;
        height: 135px;
        width: 135px;
        top: -75px;
        border-radius: 50%;
        background: #0001028a;
        padding: 5px;
        text-align: center;
    }
    .brand_logo {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        border: 2px solid white;
    }
    .form_container {
        margin-top: 0px;
        padding-top: 30px;
    }
    .login_btn {
        width: 100%;
        background: #c0392b !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group
    {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .input-group1
    {
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 10px;
    }
