<div class="card" style="padding: 30px; margin:auto;">
    <h1>404 NOT FOUND</h1>
    <p>The page you are trying search, is not available</p>
    <a href="/dashboard" class="btn btn-primary">Go to dashboard</a>
</div>